/* 1. Estilos Globales, Fondo y navegacion*/
html, body {
    height: 100%; 
}

.fondo-imagen {
            background-image: url('../img/logo-01.svg'); 
            background-size: 60%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center 60%; 
        } 
        

.navbar-brand img, .imagencustome{
    width: 60px ; 
    height: auto ;
}



/* GALERIA DE FOTOS --------------------------------------------------------------*/
.album-img {
    max-width: 50%;
    height: auto;

}

.galeria-miniatura {
    display: block; 
    height: 300px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.galeria-miniatura img {

    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.galeria-miniatura:hover img {
    transform: scale(1.05);
}

/* Titulos principales-------------------*/
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo-custome{
    font-family: "Bebas Neue", sans-serif;
    color: #E44197;
}

h2 .titulo-custome{
    font-family: "Bebas Neue", sans-serif;
    color: #E44197;
    margin: 3em;
}


